{% extends 'base.html' %}


{% block content %}

{% if error %}
  {{error}}
  <br>
  <br>
{% endif %}


  <h1>Create</h1>

  <form class="" action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  Title:
  <br>
  <input type="text" name="title" value="">
  <br>
  Body:
  <br>
  <input type="textbox" name="body" value="">
  <br>
  Url:
  <br>
  <input type="text" name="url" value="">
  <br>
  Image:
  <br>
  <input type="file" name="image" value="">
  <br>
  Icon:
  <br>
  <input type="file" name="icon" value="">

  <br>
  <br>
  <input class="btn btn-primary" type="submit" name="" value="Create Post">

  </form>


{% endblock %}
